name: microservices
version: '3.8'
services:
    postgres:
        container_name: postgres
        image: postgres:14.1-alpine
        restart: always
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        ports:
            - '5432:5432'
    mysql:
        container_name: mysql
        image: mysql:8.0
        restart: always
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: root1234
            MYSQL_DATABASE: pcdepotShop
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql1234
        ports:
            - '3306:3306'
    mongodb:
        container_name: mongodb
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root1234
        ports:
            - 27017:27017

    redis:
        container_name: redis
        image: redis:latest
        ports:
            - "6379:6379"
        command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81