@import 'tailwindcss';
@import '../styles/theme.css';

/* 
** Import heroui
*/
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-segoeui), 'Inter', Arial, Helvetica, sans-serif;
}

:root {
    --primary: var(--color-primary-900);
    --secondary: var(--color-secondary-800);
    --background: hsl(0, 0%, 100%);
    --background2: hsl(0, 0%, 97%);
    --foreground: hsl(0, 0%, 0%);
    --border: hsl(0, 0%, 90%);

    --text1: var(--foreground);
    /* 1p5 ===  1,5 */
    --text-1p5: hsl(0, 0%, 30%);
    --text2: hsl(0, 0%, 50%);
    --text3: hsl(0, 0%, 90%);
    --text4: hsl(0, 0%, 97%);
    --text-fore1: var(--background);
    --text-fore2: hsl(0, 0%, 40%);
    --text-fore3: hsl(0, 0%, 10%);
}

@media (prefers-color-scheme: dark) {
    .dark {
        --primary: var(--color-primary-500);
        --secondary: var(--color-secondary-500);
        --background: hsl(210, 4%, 10%);
        --background2: hsl(240, 3%, 13%);
        --foreground: hsl(0, 0%, 100%);
        --border: hsl(240, 3%, 22%);

        --text1: var(--foreground);
        /* 1p5 ===  1,5 */
        --text-1p5: hsl(0, 0%, 70%);
        --text2: hsl(216, 4%, 76%);
        --text3: hsl(0, 0%, 10%);
        --text4: hsl(0, 0%, 3%);
        --text-fore1: var(--background);
        --text-fore2: hsl(216, 4%, 80%);
        --text-fore3: hsl(0, 0%, 90%);
    }
}

@utility container {
    max-width: 100vw;
    padding-inline: 20px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 20px;
    }

    @variant md {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 20px;
    }

    @variant xl {
        padding-inline: 20px;
    }
}