@import 'tailwindcss';
@import '../styles/theme.css';

/* 
** Import heroui
*/
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Inter', Helvetica, sans-serif;
}

@utility container {
    max-width: 100vw;
    padding-inline: 20px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 20px;
    }

    @variant md {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 20px;
    }

    @variant xl {
        padding-inline: 20px;
    }
}