@import 'tailwindcss';
@import '../styles/theme.css';

/* 
** Import heroui
*/
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-segoeui), 'Inter', Arial, Helvetica, sans-serif;
}

:root {
    --background: hsl(0, 0%, 97%);
    --background2: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --border: hsl(0, 0%, 90%);

    --text1: var(--foreground);
    /* 1p5 ===  1,5 */
    --text-1p5: hsl(0, 0%, 30%);
    --text2: hsl(0, 0%, 60%);
    --text3: hsl(0, 0%, 90%);
    --text4: hsl(0, 0%, 97%);
    --text-fore1: var(--background);
    --text-fore2: hsl(0, 0%, 40%);
    --text-fore3: hsl(0, 0%, 10%);
}

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(0, 0%, 3%);
        --background2: hsl(0, 0%, 0%);
        --foreground: hsl(0, 0%, 100%);
        --border: hsl(0, 0%, 10%);

        --text1: var(--foreground);
        --text2: hsl(0, 0%, 30%);
        --text3: hsl(0, 0%, 10%);
        --text4: hsl(0, 0%, 3%);
        --text-fore1: var(--background);
        --text-fore2: hsl(0, 0%, 60%);
        --text-fore3: hsl(0, 0%, 90%);
    }
} */

@utility container {
    max-width: 100vw;
    padding-inline: 20px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 20px;
    }

    @variant md {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 20px;
    }

    @variant xl {
        padding-inline: 20px;
    }
}