@utility container {
	max-width: 100vw;
	padding-inline: 20px;
	margin-inline: auto;

	@variant sm {
		padding-inline: 20px;
	}

	@variant md {
		padding-inline: 20px;
	}

	@variant lg {
		padding-inline: 20px;
	}

	@variant xl {
		padding-inline: 20px;
	}
}

@layer utilities {
	.custom-scrollbar {
		overflow: auto;
	}

	.custom-scrollbar::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0;
	}

	/* Chiều rộng/thickness của scrollbar */
	.custom-scrollbar::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	/* Phần nền (track) của scrollbar */
	.custom-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Thanh trượt (thumb) */
	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: transparent;
	}

	/* Khi hover lên thanh cuộn */
	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--background-muted);
	}

	/* Firefox */
	.custom-scrollbar {
		scrollbar-width: thin;
		/* "auto" | "thin" | "none" */
		scrollbar-color: var(--background-muted) var(--background);
		/* thumb track */
	}
}